# Copyrighted journal article and rendered page images -- do not redistribute publicly.
# Full citation: Guo, Xiao, Shen, Chen, Guo, Luo. "Reinforcement learning
# predefined-time formation control for uncertain AUVs with disturbance and
# input saturation." Neurocomputing 677 (2026) 133031.
*.pdf
page_8.png
page_9.png
page_10.png
